<h1>Pirate</h1>
<h2> Name: <%= @pirate.name %> </h2></br>
<h2> Weight: <%= @pirate.weight %> </h2></br>
<h2> Height: <%= @pirate.height %> </h2>
<h1>Ship 1</h1>
<h2> Name: <%= @ships.first.name %> </h2></br>
<h2> Type: <%= @ships.first.type %> </h2></br>
<h2> Booty: <%= @ships.first.booty %> </h2>
<h1>Ship 2</h1>
<h2> Name: <%= @ships.last.name %> </h2></br>
<h2> Type: <%= @ships.last.type %> </h2></br>
<h2> Booty: <%= @ships.last.booty %> </h2>